.parent{
    position: relative;
}
.number{
    position: absolute;
    left:0;
    bottom:-28px;
    background-color: black;
    color:#fff;
    padding:5px 10px;
    display: none;
    opacity: 0;
}
.number.active{
    display: block;
    opacity: 1;
}